.iconos{
    font-size: 50px;
    color:  #3b5998;
    
}
.footer{
  
    &__facebook{
        @extend .iconos;
       
        :hover{
            transform: scale(1.5,1.5);
        }
        
    }
    
    &__instagram{
       @extend .iconos;
        color: #F009B1  ;
        :hover{
            transform: scale(1.5,1.5);
        }
    }
    
    
    &__whatsapp{
        @extend .iconos;
        color: chartreuse;
        :hover{
            transform: scale(1.5,1.5);
        
        }
    }
    
    
    &__twitter{
        font-size: 50px;
        color: #00acee;
        :hover{
            transform: scale(1.5,1.5);
        }
    }
    }
    