@keyframes BGcolorChanging-6colors {
	0% {
		background: #FF09FB  ;
	}
	20% {
		background: #cc85f5;
	}
	40% {
		background: #6800FE ;
	}
	60% {
		background: #A900FE;
	}
	80% {
		background: #EA00FE  ;
	}
	100% {
		background: #430C47 ;
	}
}
