           @import "./responsive-mixins";
           /* SECTION 2 */
          .section2{
            @include movil{
                 margin-left: 10px;
                 margin-right: 10px;
            }
          }
           .section2__cont{
             position: relative;
             @include{

             }
           }
           .section2__img{
            width: 100%;
           }

           .section2__encabezados{
             text-align: center;
           }

        