           /* SECTION 2 */
           .section2__cont{
             position: relative;
           }
           .section2__img{
            width: 100%;
           }

           .section2__encabezados{
             text-align: center;
           }

        