.main{
    background-color: #F4ECF7 ;
    padding: 50px 22pxs;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.8295693277310925) 27%, rgba(231,0,255,0.24693627450980393) 51%);
    padding: 100px 0;
}