@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@700&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.main {
  background-color: #F4ECF7;
  padding: 50px 22pxs;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 255, 255, 0.829569)), color-stop(51%, rgba(231, 0, 255, 0.246936)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.829569) 27%, rgba(231, 0, 255, 0.246936) 51%);
  padding: 100px 0;
}

.header__logo {
  max-width: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(231, 0, 255, 0.246936) !important;
}

.header__lista {
  font-size: 25px;
  font-family: 'Merriweather', serif;
}

.header__item {
  padding-right: 50px;
  padding-left: 50px;
}

.header__item :hover {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  height: 20px;
  margin: 30px;
  font-size: 1 rem;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header__link {
  font-size: 1,5 rem;
  list-style: none;
  padding: 0 100px 0 100px;
}

.iconos, .footer__facebook, .footer__instagram, .footer__whatsapp {
  font-size: 50px;
  color: #3b5998;
}

.footer__facebook :hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.footer__instagram {
  color: #F009B1;
}

.footer__instagram :hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.footer__whatsapp {
  color: chartreuse;
}

.footer__whatsapp :hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.footer__twitter {
  font-size: 50px;
  color: #00acee;
}

.footer__twitter :hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.maingrupo__titulo {
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

span {
  color: violet;
  font-family: "Merriweather", serif;
}

.maingrupo_titulo2 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
}

.mainContenedor {
  overflow: hidden;
  padding: 50px;
}

.mainContenedor__mapa {
  width: 100%;
}

.maingrupo__fila2 {
  padding: 60px 0;
}

.maingrupo__contenedor {
  border: solid 3px  black;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maingrupo__contenedor a {
  text-decoration: none;
  color: violet;
  font-size: 1.5rem;
  border-bottom: solid violet 2px;
}

@-webkit-keyframes BGcolorChanging-6colors {
  0% {
    background: #FF09FB;
  }
  20% {
    background: #cc85f5;
  }
  40% {
    background: #6800FE;
  }
  60% {
    background: #A900FE;
  }
  80% {
    background: #EA00FE;
  }
  100% {
    background: #430C47;
  }
}

@keyframes BGcolorChanging-6colors {
  0% {
    background: #FF09FB;
  }
  20% {
    background: #cc85f5;
  }
  40% {
    background: #6800FE;
  }
  60% {
    background: #A900FE;
  }
  80% {
    background: #EA00FE;
  }
  100% {
    background: #430C47;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(231, 0, 255, 0.246936)), color-stop(40%, rgba(118, 103, 119, 0.625088)), color-stop(99%, rgba(38, 27, 27, 0.997637)));
  background: linear-gradient(180deg, rgba(231, 0, 255, 0.246936) 20%, rgba(118, 103, 119, 0.625088) 40%, rgba(38, 27, 27, 0.997637) 99%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 22px;
}

.footer__parrafo {
  font-family: "Merriweather", serif;
  font-size: 50px;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .footer__parrafo {
    font-size: 25px;
  }
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.footer__item {
  padding-bottom: solid white;
  font-size: 3rem;
  list-style: none;
}

.footer__link {
  padding-bottom: solid white;
  color: blueviolet;
  text-decoration: none;
}

/* SECTION 2 */
.section2__cont {
  position: relative;
}

.section2__img {
  width: 100%;
}

.section2__encabezados {
  text-align: center;
}

.main__contenedor {
  width: 100%;
}

@keyframes BGcolorChanging-6colors {
  0% {
    background: #FF09FB;
  }
  20% {
    background: #cc85f5;
  }
  40% {
    background: #6800FE;
  }
  60% {
    background: #A900FE;
  }
  80% {
    background: #EA00FE;
  }
  100% {
    background: #430C47;
  }
}

.mainTa {
  background-color: #F4ECF7;
  padding: 50px 22pxs;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 255, 255, 0.829569)), color-stop(51%, rgba(231, 0, 255, 0.246936)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.829569) 27%, rgba(231, 0, 255, 0.246936) 51%);
  padding: 100px 0;
}

@media screen and (max-width: 320px) {
  .mainTa {
    padding: 0px;
  }
}

.mainTa__titulo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

@media screen and (max-width: 320px) {
  .mainTa__titulo {
    padding: 20px 0px;
    text-align: end;
  }
}

.mainTa__titulo--h1 {
  font-family: "Merriweather", serif;
  padding: 20px;
}

.mainTa__section {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .mainTa__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 50px;
    padding-right: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainTa__h2 {
  font-size: 3rem;
}

@media screen and (max-width: 320px) {
  .mainTa__h2 {
    font-size: 2rem;
    text-align: center;
  }
}

.mainTa__items {
  font-size: 1.5rem;
}

@media screen and (max-width: 320px) {
  .mainTa__items {
    font-size: 1.2rem;
  }
}

.contacto__general--titulo {
  font-size: 3rem;
}

.contacto__general--p {
  font-size: 1.5rem;
}

.contacto__contentImg {
  width: 100%;
}

.contacto__img {
  width: 100%;
}

.form__inputContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.form__input {
  margin: 20px 0px;
}

@keyframes BGcolorChanging-6colors {
  0% {
    background: #FF09FB;
  }
  20% {
    background: #cc85f5;
  }
  40% {
    background: #6800FE;
  }
  60% {
    background: #A900FE;
  }
  80% {
    background: #EA00FE;
  }
  100% {
    background: #430C47;
  }
}

.grillaDeImagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.grillaDeImagenes__contenedor {
  overflow: hidden;
}

.grillaDeImagenes__img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: all 1.9s 0s ease;
  transition: all 1.9s 0s ease;
}

.grillaDeImagenes__img :hover {
  height: 1000px;
}

.grillaDeImagenes__img-- {
  position: absolute;
}

.caja {
  border: solid violet 8px;
  border-radius: 15px;
  margin-top: 100px;
}

.caja2 {
  border: solid violet 8px;
  border-radius: 15px;
  margin-top: 150px;
}

.caja__texto {
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */